body {
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 10px #ccc;
}

.card h2 {
    margin: 10px 0;
    color: #333;
}
